
<!DOCTYPE html>
<html>
    <head>
        <title>Create Address</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/create-update-style.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    </head>
    <body>
        <div class="header">
            <h1> <a href="/home-page" style="cursor: pointer">Welcome to your digital Agenda </a></h1>
            <p><a>Update Customer </a></p>
        </div>
        <div class="container">
            <form action="/save-updated-customer">
                <div class="form-group">
                    <label for="streetNumber">Street Number:</label></br>
                    <input type="number" class="form-control" name="streetNumber" th:value="${customer.address.streetNumber}"/></br>
                </div>

                <div class="form-group">
                    <label for="streetName">Street Name</label></br>
                    <input type="text" class="form-control" name="streetName" th:value="${customer.address.streetName}"/></br>
                </div>
                <div class="form-group">
                    <label for="city">City</label></br>
                    <input type="text" class="form-control" name="city" th:value="${customer.address.city}"/></br>
                </div>
                <div class="form-group">
                    <label for="postalCode">Postal Code</label></br>
                    <input type="text" class="form-control" name="postalCode" th:value="${customer.address.postalCode}"/></br>
                </div>
                <div class="form-group">
                    <label for="country">Country</label></br>
                    <input type="text" class="form-control" name="country" th:value="${customer.address.country}"/></br></br>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name:</label></br>
                    <input type="text" class="form-control" name="lastName" th:value="${customer.lastName}"/></br>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label></br>
                    <input type="text" class="form-control" name="firstName" th:value="${customer.firstName}"/></br>
                </div>
                <div class="form-group">
                    <label for="username">Username</label></br>
                    <input type="text" class="form-control" name="username" th:value="${customer.username}"/></br>
                </div>
                <div class="form-group">
                    <label for="email">Email</label></br>
                    <input type="text" class="form-control" name="email" th:value="${customer.email}"/></br>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">phoneNumber</label></br>
                    <input type="text" class="form-control" name="phoneNumber" th:value="${customer.phoneNumber}"/></br></br>
                </div>
                <input type="hidden" name="customerId" th:value="${customer.customerId}" />
                <input type="hidden" name="customerId" th:value="${customer.address.addressId}" />
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </body>
</html>
